#main.container
  %h3.header Contact the Sustainability Department
  %p.title Website
  %p=link_to "Colgate Sustainability Web Page", 'http://www.colgate.edu/distinctly-colgate/sustainability'

  %p.title Phone
  %p.content 315-228-6487

  %p.title Office
  %p.content 109 Lathrop Hall
  %p.content 13 Oak Drive
  %p.content Hamilton NY, 13346
