#main.container
  %h1 Edit your profile
  =form_for @user, :method => :patch,html: {class: 'form-horizontal'} do |f|
    .form-group
      =f.label :name, 'Name'
      =f.text_field :name, class: "form-control"

    .form-group
      =f.label :classification, 'What do you do at Colgate?'
      =f.select :classification, options_for_select(@classifications, @user.classification),{},class: "form-control"

    .field
      =f.label :image, 'Image'
      =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

    .form-group
      =f.submit 'Update user profile',class: "btn-success"
