#main.container
  %h3.header About the Director
  %p.image= image_tag("john-pumilio.jpg")
  %h3.header John Pumilio
  %p.title Director of sustainability
  %p.content John Pumilio became Colgate's first Director of Sustainability in April 2009. Since that time, Colgate has implemented numerous sustainability programs that have reduced our ecological and carbon footprints. This has resulted in hundreds of thousands of dollars in avoided spending and a 30 percent reduction off our campus carbon footprint since 2009.
  %p.content Born and raised in Central New York, John holds degrees from SUNY ESF at Syracuse University and The Evergreen State College in Washington State.
  %p.content Prior to coming to Colgate, John's professional experience includes work for organizations such as the National Park Service, National Audubon Society, and Tauck World Discovery. John worked on the Florida Panther Recovery Project in the Everglades, guided tours through the Galapagos Islands (Ecuador) and Machu Picchu (Peru), led safaris through Serengeti National Park and the Ngorongoro Conservation Area in East Africa, guided hiking excursions throughout Alaska and British Columbia, completed breeding bird surveys on Hog Island, Maine, and conducted field research in the West Indies (Jamaica). In these roles, John developed programs to introduce hundreds of individuals, students and citizen-scientists to the wonders of nature around the world -- and the threats they face.
  %p.content In 2005, John began his career in sustainability and since then has introduced communities, local residents, elected officials, and students around the country to the principles and practices of sustainability.
  %p.content Today, John enjoys birdwatching, hiking, and reading in his spare time.



  %h3.header About the Program

  %p.title Purpose
  %p.content The Sustainability Passport Program strives to advance a culture of sustainability at Colgate by offering and supporting engaging educational programming for employees.  This professional development program will create better environmental stewards and advocates for sustainability on campus further supporting our sustainability and carbon neutrality goals.  Additionally, the program will assist employees looking to meet the sustainability behavioral competency as highlighted in Colgate’s job description update.
  %br
  %p.title How It Works:
  %p.content The Sustainability Office will create, support, and organize a suite of educational programming that advances the employee’s knowledge of sustainability at Colgate while promoting pro-environmental behaviors on campus.  Employees register for sessions of their choice, earning credits for each program they participate in.  In general, one hour of programming will equal one credit earned.  The Sustainability Office will track each employee’s participation over time.  The employee will receive recognition on the following point scale:
  %p.content • Sustainability Associate (6-9 points)
  %p.content • Sustainability Advocate (10-13 points)
  %p.content • Sustainability Champion (14 points or more)
  %p.content Employees will be recognized for their achievements and participation in the Program
  %p=link_to "View Leaderboard", leaderboard_path
  %br
  %p.title Program Offerings:
  %p.title Online Program (one credit per theme; seven credits total)
  %p.content • The online program is broken down into key sustainability themes (e.g., energy, water, waste, transportation, purchasing, food, etc.).  Each theme contains information and best practices, action items, a short quiz (?), employee current practices, and a pledge.  Completion of each theme is worth 1-point.
  %p.content • The program content is focused on Colgate’s sustainability program and goals and what actions individuals can take to support sustainability on campus.
  %p.content • It should take participants approximately an hour to complete each theme.
  %br
  %p.title Foundations of Sustainability (one credit per session; six credits total)
  %p.content • A six-week interactive discussion course that explores the principles and practice of sustainability at Colgate and beyond. The program is designed to be fun, educational, and interactive.
  %p.content • A community-building course that provides faculty and staff the opportunity to discuss a variety of sustainability issues and personal reflections of those issues.
  %p.content • Ultimately, creates sustainability “fellow-travelers” through an understanding of complex environmental, social, and political issues related to sustainability through shared feelings and experiences.
  %p.content • Participants will receive one credit for each session they attend for a potential of six total credits.
  %p.content • Offered each summer (with the potential to offer once per academic year) with a maximum enrollment of 20 employees per course.
  %br
  %p.title Sustainability Builders Program
  %p.content (one hour per session; one credit per session; several sessions offered per semester)
  %p.content • One hour focused programs that are offered as breakfast seminars, brown bag lunches, or with supervisor's permission, during work hours.
  %p.content • Topics cover themes such as energy and water conservation, green buildings, renewable energy, food and food systems, transportation, climate change, waste and recycling, purchasing, and any one of a number of sustainability-related issues.
  %p.content • Each program is one-hour long and participants receive short-readings or videos in advance of the session.  The in-class portion is designed to be interactive and focuses on Colgate’s practices and goals as well as actions individuals can take to support sustainability on campus.
  %p.content • Perhaps 2-3 different programs are offered per semester and repeated on an ongoing basis.
  %br
  %p.title Campus Lectures, Programs, and Departmental Offerings (one credit per session)
  %p.content • Throughout the academic year, Colgate offers many presentations, brown bag lectures, guest lecturers, and others that are sustainability-related.  The Office of Sustainability will review Colgate’s calendar of events and encourage Passport participants to attend by offering one-credit for their attendance.
  %br

  %p.title Timeframe
  %p.content • The Passport Program commenced during the summers of 2015 through 2017 with Foundations of Sustainability.
  %p.content • Fall 2017: content management system is created to highlight program offerings and course materials as well as track employee participation over time.
  %p.content • Spring 2018: Online program is available and two Builders programs are offered.
  %p.content • Summer 2018: Foundations of Sustainability offered again along with Online Program and two Builders programs.
  %p.content • Fall 2018: Full program is rolled out. Recognition ceremony is held to celebrate employees participation in the program.

  %br
  %br
  %p=link_to "Colgate Sustainability Web Page", 'http://www.colgate.edu/distinctly-colgate/sustainability'
