#main.container.form-page
  %h3.header Edit an Existing Event!

  =form_for @event, :method => :patch  do |f|
    .field
      =f.label :title, 'Title'
      =f.text_field :title

    .select-date
      =f.fields_for :occurrences, @occurrences do |d|
        =d.datetime_select :date_time, ampm: true, discard_seconds: true

    .field
      =f.label :location, 'Location'
      =f.text_field :location

    .field
      %div
        =f.label :recurring, 'Is this a Recurring Event?'
        =f.check_box :recurring
    .field
      =f.label :points, 'Points Value'
      =f.number_field :points
    .field
      =f.label :description, 'Description'
      =f.text_field :description
    .field
      =f.submit 'Update event details'
