#main.container.form-page
  %h3.header Add a New Event!

  =form_tag events_path, :method => :post, :multipart=> true do
    .field
      =label :event, :title, 'Title'
      =text_field :event, :title

    .field
      =label :event, :date_time, 'Date and Time'
      %div
        =datetime_select :event, :date_time, ampm: true, discard_seconds: true

    .field
      =label :event, :location, 'Location'
      =text_field :event, :location

    .field
      %div
        =label :event, :recurring, 'Is this a recurring event?'
        =check_box :event, :recurring

    .field
      =label :event, :points, 'Points value'
      =number_field :event, :points

    .field
      =label :event, :description, 'Description'
      =text_field :event, :description

    .field
      =submit_tag 'Add this New Event'
