#main.container
  %h3.header Add a New Event!

  =form_for @event, :method => :post, :multipart=> true do |f|
    .form-group
      =f.label :title, 'Title'
      =f.text_field :title, class: "form-control"

    .form-group
      =f.fields_for :occurrences, @occurrences do |x|
        %p.select-date
          =x.datetime_select :date_time, ampm: true, discard_seconds: true, class: "form-control"
          =label_tag :_destroy do
            =x.check_box :_destroy
          =x.label :_destroy, 'Delete'

    .form-group
      =f.submit 'Add another occurrence', :name => "add_occurrence",class: "btn-primary"
      =f.submit 'Delete checked occurrences', :name => "remove_occurrence",class: "btn-primary"

    .form-group
      =f.label :location, 'Location'
      =f.text_field :location, class: "form-control"

    .field
      %div
        =f.label :recurring, 'Is this a recurring event?'
        =f.check_box :recurring

    .field
      =f.label :points, 'Points value'
      =f.number_field :points, class: "form-control"

    .field
      =f.label :description, 'Description'
      =f.text_field :description, class: "form-control"

    .field
      =f.label :image, 'Image'
      =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

    .field
      =f.submit 'Add this New Event',class: "btn-success"
