#main.container.form-page
  %h3.header Add a New Event!

  =form_for @event, :method => :post, :multipart=> true do |f|
    .field
      =f.label :title, 'Title'
      =f.text_field :title

    .field
      =f.fields_for :occurrences, @occurrences do |x|
        %p.select-date
          =x.datetime_select :date_time, ampm: true, discard_seconds: true
          =label_tag :_destroy do
            =x.check_box :_destroy
          =x.label :_destroy, 'Delete'



    .field
      =f.submit 'Add another occurrence', :name => "add_occurrence"
      =f.submit 'Delete checked occurrences', :name => "remove_occurrence"

    .field
      =f.label :location, 'Location'
      =f.text_field :location

    .field
      %div
        =f.label :recurring, 'Is this a recurring event?'
        =f.check_box :recurring

    .field
      =f.label :points, 'Points value'
      =f.number_field :points

    .field
      =f.label :description, 'Description'
      =f.text_field :description

    .field
      =f.submit 'Add this New Event'
