/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(https://fonts.googleapis.com/css?family=Sumana);


$color-primary-0: #E3E3DE;
 $color-font-0: #525252;
 $color-background-0: #FFFFFF;


 @mixin fonty($size) {
     font-family:Garamond, Georgia, serif;
     font-size: $size;
     font-weight: 200;
     font-style: normal;
}
body{
  font-family:Garamond, Georgia, serif;
  background-color: $color-background-0;

  .sign_in {
    position:absolute;
    top: 0px;
    right: 90px;
    color: #022015;
  }

  .sign_out{
    position:absolute;
    top: 0px;
    right: 20px;
    color: #022015;
  }
  .title{
    color: #4C7401;
    line-height: 100%;
  }


}
