// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Sumana);

$color-primary-0: #E3E3DE;
$color-font-0: #525252;
$color-background-0: #FFFFFF;

@mixin fonty($size) {
  font-family:Garamond, Georgia, serif;
  font-size: $size;
  font-weight: 200;
  font-style: normal;
}

body{
  font-family:Garamond, Georgia, serif;
  background-color: $color-background-0;

  .registrees_table, .attendees_table{
    position: relative;
    top: 10px;
    width: 80%;
    left: 10%;
    background-color: $color-primary-0;
    color: $color-font-0;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    @include fonty(15pt);
  }

  .champions_table, .associates_table, .advocates_table{
    position: static;
    top: 10px;
    width: 90%;
    left: 10%;
    color: #2d2d2d;
    padding: 3px;
    margin-bottom: 20px;
    text-align: left;
    @include fonty(15pt);
  }

  .champions_table{
    background-color: #ffeb8a;
  }
  .advocates_table{
    background-color: #e7e6e4;
  }
  .associates_table{
    background-color: #f2d8ac;
  }


  .profileheader{
    color: $color-font-0;
  }

  .small-text-span{
    @include fonty(10pt);
  }
}
